<center style="font-size: 2em; font-weight: bold;"> Microeconometria Aplicada II </center>
<center style="font-size: 2em; font-weight: bold;"> Manejo de base de datos  </center>
<left style="font-size: 4em; font-weight: bold;"> Autor: Edinson Tolentino </left>

# Inicio

In [1]:
import pandas
import numpy
import os
import sys

In [2]:
import codigos_enaho

## Cargar Data

In [3]:
data_enaho    = "C:/Users/et396/Dropbox/BASES/ENAHO"
year          = "2021"
modulo_empleo = "enaho01a-2021-500.dta"
modulo_educacion = "enaho01a-2021-300.dta"

data_500      = os.path.join(data_enaho, year, modulo_empleo)
data_300      = os.path.join(data_enaho, year, modulo_educacion)

# Carga de data
data_empleo      = pandas.read_stata(data_500)
data_educacion   = pandas.read_stata(data_300, convert_categoricals=False )

## Aplicar codigos

In [4]:
# caso de empleo(solo jefe de hogar)
frame_empleo      = codigos_enaho.function_r500(data_empleo)
frame_empleo      = frame_empleo[(frame_empleo.p203=='jefe/jefa')]

frame_educacion   = codigos_enaho.function_r300(data_educacion)

In [5]:
# caso de empleo

#data_empleo = codigos_enaho.funcion_r3(data_empleo      , 'r3'    , 'ocu500')
#data_empleo = codigos_enaho.funcion_redad(data_empleo   , 'redad' , 'p208a' )
#data_empleo = codigos_enaho.funcion_r6(data_empleo      , 'r6'    , 'ocu500')
#data_empleo = codigos_enaho.funcion_genero(data_empleo  , 'rmujer', 'p207'  )
#data_empleo = codigos_enaho.funcion_r2(data_empleo, 'r2', 'p301a'           )

## Variables principales

In [6]:
var_empleo = [ 
    'rcod_persona',
    'rcod_hogar',
    'rmujer', 
    'r6', 
    'rmu',
    'rneduca',
    'r3', 
    'redad', 
]

var_educacion = [ 
    'rcod_persona',
    'rcod_hogar',
    'reduca', 
]

In [7]:
# Filtro de variables
base_empleo    = frame_empleo[var_empleo]
base_educacion = frame_educacion[var_educacion]
#base_pobreza = data_pobreza[var_pobreza]

In [8]:
base_final =pandas.merge(base_empleo, base_educacion, how='inner')
print()
print('--------------------- informacion de cantidad de datos y variables -----------------')
print(base_final.shape)

--------------------- informacion de cantidad de datos y variables -----------------
(34245, 9)

In [9]:
base_final = codigos_enaho.funcion_rfiltros(base_final)

In [10]:
base_final.sample(4).T

                      25878          8069           22392          6056
rcod_persona  0185880621101  0104870031101  0178030801101  0092171111101
rcod_hogar      01858806211    01048700311    01780308011    00921711111
rmujer                    0              0              1              0
r6              1553.416667    2029.416667    1096.342122    3266.166667
rmu                       0              0              0              0
rneduca          secundaria     secundaria       superior     secundaria
r3                        1              1              1              1
redad                    49             41             44             59
reduca                 10.0           11.0           12.0            8.0

In [11]:
base_final.describe().T

,count,mean,std,min,25%,50%,75%,max
rmujer,27944.0,0.319317,0.466220,0.0,0.000000,0.0,1.000000,1.00
r6,27944.0,1280.116606,1705.822724,0.0,316.038269,861.5,1602.979167,52063.25
rmu,27944.0,0.015746,0.124493,0.0,0.000000,0.0,0.000000,1.00
r3,27944.0,1.211137,0.601632,1.0,1.000000,1.0,1.000000,3.00
redad,27944.0,47.390066,12.165911,18.0,38.000000,48.0,57.000000,69.00
reduca,27944.0,8.795555,5.437069,0.0,5.000000,11.0,12.000000,18.00